<H1>Dashboard</H1>

<div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Bonjour. Petit Message d'accueil.
</div>
<div class="row dashboard" ng-controller="dashboardCtrl">
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-th-large"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ nbProject }}</p>
                    <p class="announcement-text"><ng-pluralize count="nbProject"  when="{'0': 'Project','1': 'Project','other': 'Projects'}"></ng-pluralize></p>
                  </div>
                </div>
              </div>
              <a href="#/project">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      <ng-pluralize count="nbProject"  when="{'0': 'Ajouter un premier projet','1': 'Ajouter d\'autre projets','other': 'Voir les projets'}"> </ng-pluralize>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-align-center"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ nbArticle }}</p>
                    <p class="announcement-text"><ng-pluralize count="nbArticle"  when="{'0': 'Article','1': 'Article','other': 'Articles'}"> </ng-pluralize></p>
                  </div>
                </div>
              </div>
              <a href="#/article">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      <ng-pluralize count="nbArticle"  when="{'0': 'Ajouter un premier article','1': 'Ajouter d\'autre articles','other': 'Voir les articles'}"> </ng-pluralize>
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-picture"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ nbImage }}</p>
                    <p class="announcement-text"><ng-pluralize count="nbImage"  when="{'0': 'Image','1': 'Image','other': 'Images'}"> </ng-pluralize></p>
                  </div>
                </div>
              </div>
              <a href="#/images">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Ajouter/Suprimmer
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-comment"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">{{ nbLivredor }}</p>
                    <p class="announcement-text"><ng-pluralize count="nbLivredor"  when="{'0': 'Avis','1': 'Avis','other': 'Avis'}"> </ng-pluralize></p>
                  </div>
                </div>
              </div>
              <a href="#/user">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                    	<ng-pluralize count="nbLivredor"  when="{'0': 'Aucun','1':'Voir l\' avis utilisateurs','other': 'Voir les avis utilisateurs'}"> </ng-pluralize>
                      
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px;padding-right : 0px">
            <div class="panel panel-default">
            	<div class="panel-heading">Version 2</div>
            	<div class="panel-body">
	            	<p>Vous utilisé actuelement la version 1.0 l'interface</p>
	            	<p>La version 2 de cette interface d'administration est en cour de développement.</p>
	            	<p>Si vous avez des idées d'améliorations, contactez alexis. (alexismomcilovic@momcreation.fr)</p>
	            	<p>Si vous trouvez un bug, contactez alexis. (alexismomcilovic@momcreation.fr)</p>
	            	<small>Liste des amélioration prévue pour la v2.</small>
	           		<ul>
	           			<li>Ajout du tri sur les tableaux.</li>
	           			<li>Ajout des fonctionalité de drag/drop.</li>
	           			<li>Amélioration du système d'upload d'image.</li>
	           			<li>Mise en place un systeme de resize d'image.</li>
	           			<li>Mise en place avancé de gestion des droits utilisateur</li>
	           			<li>Mise en place de graphique résumant la fréquentation du site</li>
	           			<li>Et pleins d'autres choses encore. (faite moi part de vos besoins)</li>
	           		</ul>
            	</div>
            </div>
          </div>