<H1>Dashboard</H1>

<div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Bonjour. Petit Message d'accueil
</div>
<div class="row dashboard">
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-th-large"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">456</p>
                    <p class="announcement-text">Projets</p>
                  </div>
                </div>
              </div>
              <a href="#/project">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Voir les projets
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-align-center"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">12</p>
                    <p class="announcement-text">Article</p>
                  </div>
                </div>
              </div>
              <a href="#/article">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Voir les articles
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-picture"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">18</p>
                    <p class="announcement-text">Images</p>
                  </div>
                </div>
              </div>
              <a href="#/images">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Ajouter/Suprimmer
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <span class="glyphicon bigGlyphicon glyphicon-user"></span>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading">6</p>
                    <p class="announcement-text">Utilisateur</p>
                  </div>
                </div>
              </div>
              <a href="#/user">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-12">
                      Voir les utilisateurs
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px;padding-right : 0px">
            <div class="panel panel-default">
            	<div class="panel-heading">Version 2</div>
            	<div class="panel-body">
	            	<p>Vous utilisé actuelement la version 1.0 l'interface</p>
	            	<p>La version 2 de cette interface d'administration est en cour de développement.</p>
	            	<p>Si vous avez des idées d'améliorations, contactez alexis. (alexismomcilovic@momcreation.fr)</p>
	            	<p>Si vous trouvez un bug, contactez alexis. (alexismomcilovic@momcreation.fr)</p>
	            	<small>Liste des amélioration prévue pour la v2.</small>
	           		<ul>
	           			<li>Ajout du tri sur les tableaux.</li>
	           			<li>Ajout des fonctionalité de drag/drop.</li>
	           			<li>Amélioration du système d'upload d'image.</li>
	           			<li>Mise en place un systeme de resize d'image.</li>
	           			<li>Mise en place avancé de gestion des droits utilisateur</li>
	           		</ul>
            	</div>
            </div>
          </div>